@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --text: #ffffff;
    --subtext: #08D9D6;
    --linktext: #FF2E63;
    --underline: #444444;
    --sectionbg: #252A34;
    --buttoncolor: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f5f5f5;
    --text: #000000;
    --subtext: #08D9D6;
    --linktext: #FF2E63;
    --underline: #dadada;
    --sectionbg: #EAEAEA;
    --buttoncolor: #ffffff;
  }
}

body {
  font-family: "Courier New";
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 100%;
}

.header__title {
  margin: auto;
  font-size: 40px;
  line-height: 1.2;
  font-family: "Courier New";
}

.header__subtitle {
  color: var(--subtext);
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 320px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Courier New";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: var(--linktext);
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: var(--linktext);
  border-radius: 20px;
  border: none;
  outline: none;
  

  font-size: 16px;
  line-height: 1.4;

  color: var(--buttoncolor);
  text-decoration: none;
}
.button-link {
    color: #252A34;
    background: #08D9D6;
    padding: 10px;
    transition: 0.5s linear; 
}
.button-link:hover {
    color: #EAEAEA;
    background: #FF2E63;
}
.linsk__link {
  color: #FF2E63;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.linsk__link:after {
  content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.linsk__link:hover:after {
  content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #08D9D6;
    transition: width 0.5s;
}